body {
    margin: 0px;
    padding: 0px;
    background-color: darkgray;
    background-image: url(../Images/Pix1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    /* height: 100vh; */
    /* margin-left: auto;
    margin-right: auto; */
    /* padding: 4%; */
    position: relative;
    background-color: rgba(46, 46, 46, 0.5);
    display: flex;
    justify-content: center;
}

.bodyAll {
    margin: 0px;
    padding: 0px;
}

.UpperClass {
    text-transform: uppercase;
    margin-left: 28%;
    margin-right: 28%;
    color: #ffffff;
    margin-top: 0px;
    font-size: 14px;


}

h1.UpperClass {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin: 20px;
}

nav {
    height: 60px;
    background-color: blueviolet;
    margin: 0px;

}

nav ul {
    /* margin-left: auto;
    padding-left: auto; */
    list-style: none;
    align-items: center;
    display: flex;
    margin: 2px;
    padding: 2px;
}

/* nav ul :hover {
    background-color: chocolate;
    color: black;

} */

ul li {
    margin: 8px 2px 5px 2px;
    padding: 10px 0px;
    float: left;
    background-color: blue;
    border: solid .1px;
    border-radius: 10px;
    font-size: bold;
    text-transform: uppercase;
    width: 40%;
    min-width: 70px;
    text-align: center;
}

li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    /* background-color: #d4057e; */
    border-radius: 2px;
    padding: 12px 10%;
    margin: 0px;
}

nav li :hover {
    color: darkgrey;
    /* background-color: #1f4e8b; */
    padding: 11px 20px 11px 11px;
    border-radius: 4px;
    font-size: 78%;
}

.Block-1 {
    /* margin-left: 4%;
    padding-left: 4%; */
    color: rgb(255, 217, 0);
    margin: 5%;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.Block-2 {
    font-size: 1.5rem;
}
/*form {
    border: 1px solid #8A2BE2;
}*/
.formclass {
    background-color: #ffffff;
    Opacity: 0.8;
    font-size: 0.9em;
    width: 50%;
    border: 1px solid #8A2BE2;
    border-radius: 8px;
    padding: 15px 0px;
    padding-left: 10%;
    padding-right: 10%;
    min-width: 75%;
    margin: 0px 5px 40px 5px;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
}

.forminput {
    font-size: 14px;
    height: 18px;
    width: 90%;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid rgb(117, 116, 116);
    padding-left: 10px;
    margin: 4px 0px;
}

.menuclass {
    width: 95%;
    height: 28px;
    border-radius: 4px;
    padding: 5px;
    padding-left: 10px;
    font-size: 14px;
    margin: 4px 0px;
    color: rgb(94, 92, 92);

}

form h2 {
    color: #000000;
    margin-top: 20px;
}

.content {
    font-size: 16px;
    text-align: justify;
    background-color: aliceblue;
    padding: 15px;
    margin: 15px 0px;

}

.content h3 {
    font-size: 18px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 2px;
    padding-top: 10px;
}

.btn {
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    border: none;
    box-shadow: -1px 1px 10px 0.2px;
    border-radius: 4px;
    background-color: blueviolet;
    color: black;
    width: 100%;
    height: 35px;
    margin-top: 10px;
    /* padding-left: 0px; */
}

.Newslaterbtn {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border: none;
    box-shadow: -1px 2px 8px 0.5px;
    border-radius: 4px;
    background-color: blueviolet;
    color: black;
    width: 140px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
}

p {
    margin: 0px;
    padding: 0px
}

.newslater {
    background-color: rgb(106, 18, 189);
    /* height: 110px; */
    padding: 5px;

}

.newslater_Block {
    margin: auto;
    padding: auto;
    text-shadow: 2px;
    font-family: sans-serif;
    font-size: 15px;
    width: 100%;
    display: flex;
    position: relative;
}

.newslatercontext {
    background-color: rgba(51, 11, 197, 0.658);
    margin: 5px;
    padding: 10px;
    text-shadow: 2px;
    float: left;
    width: 80%;
    overflow: hidden;
    border-radius: 4px;
}

.newslatercontext h3 {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    color: #d49d05;
    line-height: 20px;

}

.newslatercontext p {
    margin: 5px 0px;
    padding: 0px;
    font-size: 20px;
    color: #ffffff;
    line-height: 20px;
    font-size: 0.8rem;
}

.newslater h3 {
    margin: 0px;
    padding: 0px;
}

.newslater h3 {
    text-align: center;
    margin: 0px;
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

p .newslater_Block {
    margin: 0px;
}

.nltinput {
    font-size: 14px;
    height: 18px;
    width: 90%;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid rgb(117, 116, 116);
    padding-left: 10px;
    margin: 4px 0px;
}

.testimonial {
    /* width: 380px; */
    height: 220px;
    font-size: 16px;
    text-align: center;
    /* background-color: aliceblue; */
    margin: auto;
    padding: 15px 0px;
    margin-top: 10px;
    margin-right: auto;
    padding-left: 8%;
    padding-right: 8%;
    max-width: 410px;


}

.testimonialImg {
    margin: 2px;
    padding: 2px;
    width: 85%;
    padding-bottom: 2px;
    border-radius: 30px;
}

.testifyer {
    font-size: 0.8rem;
    text-align: center;
    color: #ffffff;
    margin: 0px;
    padding: 2px;
    margin-top: 0px;
    padding-top: 0px;
    text-transform: capitalize;
    line-height: 15px;
}

.testifyerOffice {
    text-transform: uppercase;
    color: #d49d05;
    font-weight: bold;
    line-height: 12px;
}

.testimonialImgBox {
    float: left;
    margin: 1%;
    padding: 0.5%;
    width: 30%;
    height: 165px;
    background-color: blueviolet;
    border-radius: 30px 30px 30px 30px;
}

.footerclass {
    background-color: blueviolet;
    height: 60px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    width: 100%;
}
